alias sailu="./vendor/bin/sail up -d"
alias saild="./vendor/bin/sail down"
alias sailuc="./vendor/bin/sail up -d && code ."
alias sail="./vendor/bin/sail"
alias sailsh="./vendor/bin/sail shell"
alias artisan="./vendor/bin/sail artisan"
alias tinker="./vendor/bin/sail artisan tinker"
alias test="./vendor/bin/sail artisan test"
alias queuew="./vendor/bin/sail artisan queue:work --daemon --sleep=3 --tries=3"
alias queuel="./vendor/bin/sail artisan queue:listen"
alias archiv="tar -cvzf"
alias extract="tar -xvzf"
alias ld="firefox https://laravel.com/docs/8.x"
alias ld-valid="firefox https://laravel.com/docs/8.x/validation#available-validation-rules"
