function schedule () {
    while [ TRUE ] 
    do
        sail artisan schedule:run
        echo "sleep 60 secs..."
        sleep 60
    done
}

function sublist () {
    docker run --rm -t hypnza/sublist3r -d "$1"
}

function zap () {
    docker run -i owasp/zap2docker-stable zap-cli quick-scan --self-contained --start-options '-config api.disablekey=true' "$1"
}

# fingerprint sha1|sha256|sha512 cert.pem
function fingerprint () {
    openssl x509 -noout -fingerprint -$1 -inform pem -in $2
}

# showcert domain.tld
function showcert () {
    echo | openssl s_client -showcerts -servername $1 -connect $1:443 2>/dev/null | openssl x509 -inform pem -noout -text
}

# showcert-dates domain.tld
function showcert () {
    echo | openssl s_client -showcerts -servername $1 -connect $1:443 2>/dev/null | openssl x509 -inform pem -noout -dates
}

function swagger-editor () {
    docker run --rm -p "$1":8080 swaggerapi/swagger-editor
}

function code-install-extensions () {
   cat $HOME/.dotfiles/.vscode-extensions | xargs -L 1 code --install-extension
}
